.oberlays .license{

    position : absolute;
    left : 0em;
    bottom : 0em;
    width : 100%;
    margin : .1em;
    font-size : .35em;
    font-weight : 400;
    text-align : center;

    img{
        width : auto;
        height : 1.2em;
        margin : 0em .4em;
        vertical-align : middle;
    }
}
